
{% extends 'MyPrzepisBundle::layout.html.twig' %}
{% block content %}
{% for result in results %}
<a href="{{ path('przepis_show', { 'slug': result.slug }) }}">
{{ result.id }}
{{ result. nazwa }}
</a>
{% for skladniki in result.sp %}
{{skladniki.skladnik.nazwa }}
{% endfor %}
{% endfor %}
{% endblock %}