
/*selectors*/
body{
	font-family: arial;
	text-align: left;
	background-color: #fffff4;
}
a{
	text-decoration: none;
}
/*classes*/
.button-yellow{
	height:23px;
	padding: 5px 25px 0px 25px;
	text-align: center;
	background-color: #f8ffab;
	font-size: 13px;
	border: 1px solid #ede85f;

	z-index: 1;

	-moz-box-shadow: 0px 0px 9px #d7ff91;
	-webkit-box-shadow: 0px 0px 9px #d7ff91;
	box-shadow: 0px 0px 9px #d7ff91;


}
.button-yellow:hover{
	background-color: #f3fd85;
}

.button-red{
	height:23px;
	padding: 5px 25px 0px 25px;
	text-align: center;
	background-color: #ffabab;
	font-size: 13px;
	border: 1px solid #ed5f5f;

	z-index: 1;

	-moz-box-shadow: 0px 0px 9px #ff9191;
	-webkit-box-shadow: 0px 0px 9px #ff9191;
	box-shadow: 0px 0px 9px #ff9191;

}

.button-red:hover{
	background-color: #ff9c9c;
}

.button-white{
	height:23px;
	padding: 5px 25px 0px 25px;
	text-align: center;
	background-color: #fff;
	font-size: 13px;
	border: 1px solid #c9c9c9;

	z-index: 1;

	-moz-box-shadow: 0px 0px 9px #c4c4c4;
	-webkit-box-shadow: 0px 0px 9px #c4c4c4;
	box-shadow: 0px 0px 9px #c4c4c4;
}

.button-white:hover{
	background-color: #fcfcfc;
}

.button-yellow a, .button-white a, .button-red a{
	color: #777373;
}
.button-yellow:hover a, .button-white:hover a, .button-red:hover a{
	color: #000;
}
.title-header{
	font-size: 35px;
	font-weight: 100;
	padding: 50px 0px 30px 15px;
	font-style: italic;
	color: #777373;
}
.subtitle-header{
	font-size: 17px;
	color: #777373;
}
.main-window{}
.live-link{}
.input-label{
	font-size: 12px;
	color: #d2d2d2;
	margin: 0 0 0 2px;
}
.input-empty{
	margin: 0;

	border: 1px solid #e6e6e6;
	-moz-box-shadow:inset 0px 0px 8px #e2e2e2;
	-webkit-box-shadow:inset 0px 0px 8px #e2e2e2;
	box-shadow:inset 0px 0px 8px #e2e2e2;	

	height: 20px;
	padding: 3px 5px 3px 5px;

}
.textarea-empty{
	max-width: 230px;
	min-width: 230px;
	min-height: 60px;
	max-height: 150px;

	font-family: arial;
}
.live-link{
	color: #b6b6b6;
	font-style: italic;
}
.live-link:hover{
	color: #606060;
}
/*ids*/
#main{
	background-color: #fff;
	width: 400px;
	height: 500px;
	border: 1px solid #dedede;
	padding: 20px;
}
/*additional classes*/
/*adding receipt*/
.ingredient
{
	width: 200px;
}
.howmuch{
	width: 80px;
}
.measure
{
	width: 85px;
}