body{
	margin: auto;
	
}
td{
	vertical-align:top;

}
.button-site{
	float:right;
	position: absolute;
	bottom:20px;
	right: 20px;
}
#body{
	width: 700px;
}
#menu>div{
	width: 50%;
	height: 30px;
	float:left;
	text-align: right;
} 
#menu>div div{
	float:inherit;
}
#menu>div:last-child div{
	float:right;
}
#main{
	position:relative;
}